<div class="col-md-12 communication-view">
  <%= semantic_form_for @call, url: communication_ring_path,
      html: { class: 'form-inline text-center' } do |f| %>
    <% f.inputs do %>
      <% if current_user.has_role? :admin %>
        <%= f.input :callee_id, as: :select, collection: User.all %>
      <% else %>
        <%= f.input :callee_id, as: :hidden %>
      <% end %>
      <%= f.actions do %>
        <button type="submit" value="submit" class="btn btn-success big-button center-block">
          <i class="fa fa-bell"></i>
          <p><%= t('navigation.call') %></p>
        </button>
      <% end %>
    <% end %>
  <% end %>
</div>
