<div class="col-md-6 col-md-offset-3">
  <div class="well">
    <p>
      <strong><%= t 'activerecord.attributes.user.display_name' %>:</strong>
      <%= @user.display_name %>
    </p>
    <% unless @user.unconfirmed_email.present? %>
      <p>
        <strong><%= t 'activerecord.attributes.user.email' %>:</strong>
        <%= @user.email %>
      </p>
    <% else %>
      <p>
        <strong><%= t 'activerecord.attributes.user.unconfirmed_email' %>:</strong>
        <%= @user.unconfirmed_email %>
      </p>
      <p>
        <strong><%= t 'activerecord.attributes.user.old_email' %>:</strong>
        <%= @user.email %>
      </p>
    <% end %>
    <p>
      <strong><%= t 'activerecord.attributes.user.roles' %>:</strong>
      <%= @user.roles.map(&:to_s).join ', ' %>
    </p>
    <p>
      <strong><%= t 'activerecord.attributes.user.created_at' %>:</strong>
      <%= l @user.created_at %>
    </p>
  </div>

  <div>
    <% if can? :edit_password, @user %>
      <%= link_to t('views.users.edit_password'), edit_password_my_account_path, class: 'btn btn-primary' %>
    <% end %>
    <% if can? :edit_email, @user %>
      <%= link_to t('views.users.edit_email'), edit_email_my_account_path, class: 'btn btn-primary' %>
    <% end %>
    <% if can? :manage, @user %>
      <%= link_to t('actions.edit'), edit_user_path(@user), class: 'btn btn-primary' %>
    <% end %>
    <%= link_to_back %>
  </div>
</div>
