<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to Figaro.env.app_name, root_path, class: 'navbar-brand' %>
    </div>

    <ul class="nav navbar-nav">
      <% if current_user&.has_role? :admin %>
        <li><%= link_to t('navigation.dashboard'), dashboards_index_path %></li>
        <li><%= link_to t('navigation.users'), users_path %></li>
        <li><%= link_to t('navigation.distributors'), distributors_path %></li>
        <li><%= link_to t('navigation.customers'), customers_path %></li>
        <li><%= link_to t('navigation.products'), products_path %></li>
        <li><%= link_to t('navigation.license_pools'), license_pools_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= t('navigation.communication') %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><%= link_to t('navigation.call'), communication_call_path %></li>
          </ul>
        </li>
      <% elsif current_user&.has_role? :distributor %>
        <li><%= link_to t('navigation.dashboard'), dashboards_index_path %></li>
        <li><%= link_to t('navigation.customers'), customers_path %></li>
        <li><%= link_to t('navigation.products'), products_path %></li>
        <li><%= link_to t('navigation.license_pools'), license_pools_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= t('navigation.support') %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><%= link_to t('navigation.call'), communication_call_path %></li>
          </ul>
        </li>
      <% elsif current_user&.has_role? :customer %>
        <li><a href="#"><%= t('navigation.licenses') %></a></li>
      <% end %>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%= t('navigation.help') %>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="dropdown-header">
            <span><%= Figaro.env.app_name %></span>
            <i>v<%= application_version %></i>
          </li>
        </ul>
      </li>
      <% if current_user %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= t('navigation.my_account') %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">
              <p><%= current_user.display_name %></p>
              <% if current_user.has_role? :distributor %>
                <p><%= Distributor.find_by(responsible: current_user)&.company %></p>
              <% end %>
            </li>
            <li role="separator" class="divider"></li>
            <li><%= link_to t('actions.view'), my_account_path(current_user) %></li>
            <li><%= link_to t('views.users.change_password'), edit_password_my_account_path(current_user) %></li>
            <li><%= link_to t('views.users.change_email'), edit_email_my_account_path(current_user) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to t('actions.logout'), destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to t('navigation.login'), new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
